    .imgarticleX{
    width:100%;  
    position:relative;
    top: -20px;
    margin: 0 auto;
    height: 70%;
}

#alz{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    text-shadow: 0px 4px #DFDEDE;
    color: #4F4E4E; 
}

#hrAlz {
    border: 0;
    width: 100%;
    color: #DFDEDE;
    background-color: #DFDEDE;
    height: 2px;
}

#tituloalz h2 {
    font-family:serif;
text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    margin-top: 10px !important ;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0px !important;
    height: 20px;
}


.btnalz {
	-moz-box-shadow:inset 0px 1px 0px 0px #37303d;
	-webkit-box-shadow:inset 0px 1px 0px 0px #37303d;
	box-shadow:inset 0px 1px 0px 0px #37303d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #100d47), color-stop(1, #1c1b2e) );
	background:-moz-linear-gradient( center top, #100d47 5%, #1c1b2e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#100d47', endColorstr='#1c1b2e');
	background-color:#100d47;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:1.92px;
	display:inline-block;
	color:#eaecf2;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:23px;
	line-height:23px;
	width:64px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #0f0f0f;
}
.btnalz:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c1b2e), color-stop(1, #100d47) );
	background:-moz-linear-gradient( center top, #1c1b2e 5%, #100d47 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1b2e', endColorstr='#100d47');
	background-color:#1c1b2e;
}
.btnalz:active {
	position:relative;
	top:1px;
}

.fbtwgoo{
    top: 10px;
}