/*
    Created on : 21-abr-2016, 22:05:51
    Author     : Ne_K Music
*/

/*---Header Main---*/

@import url('fonts/fonts.css');

body {
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/vintagecom.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h4 {
    text-transform: none;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1,
h2,
h5,
h6 {
    font-size: 3em;
    font-weight: 600;
    font-family: 'Franchise';
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #6c6c6c;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    font-family: "Lora";
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.homeIcon{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
    font-family: "Lora";
}

.brand-before {
    margin: 15px 0;

}

.brand-name {

    font-size: 4em;
    font-family: "riesling"
}

.tagline-divider {
    margin: 10px auto 10px;
    max-width: 250px;
    border-color: #999999;
}
.tagline-divider-cont {
    margin: 10px auto 50px;
    max-width: 250px;
    border-color: #999999;
}
.tagline-divider-sin {
    margin: 0px auto 0px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

/*---Media Responsive---*/
@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 0px 0 10px;
        text-align: center;
        text-shadow: 4px 1px 2px rgba(0,0,0,0.5);
        font-family: "riesling";
        font-size: 15em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.7);
        -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
        -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
        box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 14px;
    }
}
.visitNav{
    font-family: 'riesling';
    margin: 0;
    margin-top: 50px;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.visit{
    font-size: 30px;

}
.portafolio{
    margin-bottom:50px;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #313131;
}
/*---Footer---*/
footer {
    margin-top: 100px;
    margin-bottom: -20px;
}


.nav-footer {

    margin-top:-10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.footer{
    /*---background: #000;---*/
    color: #434343;

}
.copy{
    color:#fff;
}
.div-h3 {
    font-family: 'Lora';
    color: #313131;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin: 35px 0 20px 0;
}
.social-footer{
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;

}

.social-footer li a{
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #626161;
    font-size: 15px;
    line-height: 1;
}
.social-footer li a:hover{
    color: #626161;
}
.footDerechos{
    margin-top:20px;
}
.copyright{
    font-size:15px;
}
.copyright > p > a{
    color: #a6a6a6;
    text-decoration: none;
}
/*---Enlaces---*/
.social-facebook{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #d1d2d3;
    padding-left: 38px;

}
.social-twitter{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding-left: 38px;
}
.social-google{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    padding-left: 38px;
}
.social-contactanos{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #d1d2d3;
}


/*---Icono---*/
.facebook{
    content: '';
    display: inline-block;
    position: relative;
    speak: none;
    width: 30px;
    height: 28px;
    background-position: -223px;
    position: absolute;
    left: 0;
    top: 3px;
    /*---background-image: url(../img/facebook.gif);---*/
    margin-right:10px;
}
/*---footer Extend---*/
.footer-Extend {
    margin: 0 0 30px 0;
    padding-top: 50px;
}
.social-page-footer{
    width: 1125px;
}
.header-expand{
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
.header-expand > h1{
    text-align: center;
    font-family: sourcesans;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    margin-bottom:30px;
}
.header-expand > h1 > span{
    text-align: center;
    font-family: sourcesans;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}
.cont-row{
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.cont-expand{
    padding-left: 0;
}
.box-expand{
    border: 1px solid #e1dfdf;
    padding: 20px 10px 25px;
    height: 217px;
}
.box-expand > p{
    font-size: 16px;
    font-family: 'Raleway regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 23px;
    margin: 0 0 10px;
    color:#595959;
}
.box-expand > p > strong{
    text-align:justify;
    color:#424242;
}
.social-logo{
    float: right;
    margin: 0;

}
.cont-expand-ex{
    padding: 0 7.5px;
}
.cont-expand-ext{
    padding-right: 0;
}
.queHacer{
    margin-bottom: 20px;
    font-family: 'Lora';
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: -1px;

}
.line{
    margin-top: 20px;
    border-bottom: 1px solid #AAAAAA;
}
.what {
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
