/*
    Created on : 21-abr-2016, 22:05:51
    Author     : Ne_K Music
*/

/*---Header Main---*/
@import url('fonts/fonts.css');

body {
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/backUno.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


h4 {
    text-transform: none;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1,
h2,
h5,
h6 {
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'abril';
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #6c6c6c;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    font-family: "Lora";
    text-transform: uppercase;
    font-weight: 300;

}
.homeIcon{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.img-full {
    min-width: 100%;
}
.tituloWelcome{
    font-family: "Lora";
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.brand-before,
.brand-name {
    text-transform: capitalize;
    font-family: "Lora";
}

.brand-before {
    margin: 15px 0;

}

.brand-name {
 font-weight: 600;
    font-size: 4em;
    font-family: "riesling"
}

.tagline-divider {
    margin: 10px auto 10px;
    max-width: 250px;
    border-color: #999999;
}
.tagline-divider-cont {
    margin: 10px auto 50px;
    max-width: 250px;
    border-color: #999999;
}
.tagline-divider-sin {
    margin: 0px auto 0px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

/*---Media Responsive---*/
@media screen and (min-width:1000px){

    .carousel {
        height: 80%;
    }
}
@media screen and (min-width:768px) {

    .brand {
        display: inherit;
        margin: 0;
        padding: 0px 0 10px;
        text-align: center;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
        font-family: "riesling";
        font-size: 15em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.7);
        -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
        -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
        box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.59);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 14px;
    }
}
.visitNav{
    font-family: 'riesling';
    margin: 0;
    margin-top: 50px;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.visit{
    font-size: 30px;

}
.portafolio{
    margin-bottom:50px;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #313131;
}

/*---Categorias---*/
@media (min-width:768px) {
    .tam{
        width: 300px;
        height: 200px;
    }
    .marg{
        margin-top: 60px;
    }
}

@media (max-width:768px) {
    .tam{
        margin-top: 30px;
    }
    .size{
        font-size: 25px;
    }
    .marg{
        text-align: center;
        margin: 30px 0 10px 0;
    }
}
/*---Sitios---*/
.imgarticleX{
    width:100%;
    position:relative;
    top: -20px;
    margin: 0 auto;
    height: 70%;
}

#alz{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    text-shadow: 0px 4px #DFDEDE;
    color: #4F4E4E;
}

#hrAlz {
    border: 0;
    width: 100%;
    color: #DFDEDE;
    background-color: #DFDEDE;
    height: 2px;
}

#tituloalz h2 {
    font-family:serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    margin-top: 10px !important ;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0px !important;
    height: 20px;
}


.btnalz {
    -moz-box-shadow:inset 0px 1px 0px 0px #37303d;
    -webkit-box-shadow:inset 0px 1px 0px 0px #37303d;
    box-shadow:inset 0px 1px 0px 0px #37303d;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #100d47), color-stop(1, #1c1b2e) );
    background:-moz-linear-gradient( center top, #100d47 5%, #1c1b2e 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#100d47', endColorstr='#1c1b2e');
    background-color:#100d47;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    text-indent:1.92px;
    display:inline-block;
    color:#eaecf2;
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:23px;
    line-height:23px;
    width:64px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #0f0f0f;
}
.btnalz:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c1b2e), color-stop(1, #100d47) );
    background:-moz-linear-gradient( center top, #1c1b2e 5%, #100d47 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1b2e', endColorstr='#100d47');
    background-color:#1c1b2e;
}
.btnalz:active {
    position:relative;
    top:1px;
}

/*---Footer---*/
footer {
    margin-top: 50px;
    margin-bottom: -10px;
}


.nav-footer {

    margin-top:-10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.footer{
    /*---background: #000;---*/
    color: #434343;

}
.copy{
    color:#fff;
}
.div-h3 {
    font-family: 'Lora';
    color: #313131;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin: 35px 0 20px 0;
}
.social-footer{
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;

}

.social-footer li a{
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #626161;
    font-size: 15px;
    line-height: 1;
}
.social-footer li a:hover{
    color: #626161;
}
.footDerechos{
    margin-top:20px;
}
.copyright{
    font-size:15px;
}
.copyright > p > a{
    color: #a6a6a6;
    text-decoration: none;
}
/*---Enlaces---*/
.social-facebook{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #d1d2d3;
    padding-left: 38px;

}
.social-twitter{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding-left: 38px;
}
.social-google{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    padding-left: 38px;
}
.social-contactanos{
    list-style:none;
    position: relative;
    font-family: ralewayRegular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #d1d2d3;
}


/*---Icono---*/
.facebook{
    content: '';
    display: inline-block;
    position: relative;
    speak: none;
    width: 30px;
    height: 28px;
    background-position: -223px;
    position: absolute;
    left: 0;
    top: 3px;
    /*---background-image: url(../img/facebook.gif);---*/
    margin-right:10px;
}
/*---footer Extend---*/
.footer-Extend {
    margin: 0 0 30px 0;
    padding-top: 50px;
}
.social-page-footer{
    width: 1125px;
}
.header-expand{
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
.header-expand > h1{
    text-align: center;
    font-family: sourcesans;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    margin-bottom:30px;
}
.header-expand > h1 > span{
    text-align: center;
    font-family: sourcesans;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}
.cont-row{
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.cont-expand{
    padding-left: 0;
}
.box-expand{
    border: 1px solid #e1dfdf;
    padding: 20px 10px 25px;
    height: 217px;
}
.box-expand > p{
    font-size: 16px;
    font-family: 'Raleway regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 23px;
    margin: 0 0 10px;
    color:#595959;
}
.box-expand > p > strong{
    text-align:justify;
    color:#424242;
}
.social-logo{
    float: right;
    margin: 0;

}
.cont-expand-ex{
    padding: 0 7.5px;
}
.cont-expand-ext{
    padding-right: 0;
}
.queHacer{
    margin-bottom: 20px;
    font-family: 'Lora';
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: -1px;

}
.line{
    margin-top: 20px;
    border-bottom: 1px solid #AAAAAA;
}
.what {
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

b.icon-direction{
    width: 20px;
}


.tiempo {
    margin-left: 1080px;

}

.tiempo:hover{
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
    opacity: 0.9;
}

/*---Que Hacer?---*/
.actividades{
    margin-bottom: 50px;
}
.queHacerIcon{
    width:100px;
}
.carou{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
/*---Botonera---*/
.btn-primary {
    border-color: rgba(255,255,255,0.7);
    color: #000;
    background-color: rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
}
.btn-primary:hover{
    background-color: #5bc0de;
    border-color: #5bc0de;
}


ul#lineShort li a{
    /*  position: relative;*/


}
ul#lineShort li a:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
ul#lineShort li a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: rgba(255,255,255,0.4);
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);
}
ul#lineShort li a:hover:after{
    opacity:1;
    transform: translateY(1px);
}
.navPer{
    margin-left: 10px;
    padding-top: 18px;
    padding-right: 0px;
    padding-left: 0px;

}
.navPerCat{
    margin-left: 0px;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 0px;

}
.articulo{
    margin-bottom: 20px;
}
body {
    overflow: hidden;
}
/* preloader */
#preloader {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #000;
    z-index: 100;
}
.loader:before,
.loader:after,
.loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    margin: 8em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
}
.loader:before {
    left: -3.5em;
}
.loader:after {
    left: 3.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #FFF;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #FFF;
    }
}


audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 1080px;
    width: 259px;
}
/* Search Animated */
input[type="search"]{
    width: 30px; /*ancho por defecto*/
    background: #ededed url('../img/search-icon.png') no-repeat 9px center; /*icono lupa*/
    padding: 9px 10px 9px 32px;
    border-radius: 15em;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
input[type="search"]:focus{
    width: 100px; /*tamaño del boton buscar al hacer click*/
    padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
    color: #000;
    background-color: #FFF;}
/* Desarrollo*/
.desarrollo{
    margin-top:40px;
}
/* iconos eventos detalle*/

.grande{
    height: 20px;}
/*Rating*/
.stars{
    margin-bottom: 100px;
}
.ec-stars-wrapper {
    /* Espacio entre los inline-block (los hijos, los `a`)
       http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
    font-size: 0;
    /* Podríamos quitarlo,
            pero de esta manera (siempre que no le demos padding),
            sólo aplicará la regla .ec-stars-wrapper:hover a cuando
            también se esté haciendo hover a alguna estrella */
    display: inline-block;
}
.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2rem;

    color: #888;
}

.ec-stars-wrapper:hover a {
    color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
    color: #888;
}