@font-face{
  font-family:fjalla;
  src:url(FjallaOne-Reg.otf);
}

@font-face{
  font-family:riesling;
  src:url(riesling.ttf);
}

@font-face{
  font-family:franchise;
  src:url(Franchise-Bold.ttf);
}

