@font-face{
    font-family:riesling;
    src:url(riesling.ttf);
}

@font-face{
    font-family:franchise;
    src:url(Franchise-Bold.ttf);
}
@font-face{
    font-family:abril;
    src:url(AbrilFatface.ttf);
}
@font-face{
    font-family:akura;
    src:url(AkuraPopo.ttf);
}

@font-face{
    font-family:antique;
    src:url(AntiqueBookCover.otf);
}
@font-face{
    font-family:above;
    src:url(AbrilFatface.ttf);
}